<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
		
			<legend>선호도 조사 시스템</legend>
			<table align="center"
            border="1">
				
            <tr>
                <td>이름 :  <%=name%></td>
                <td>좋아하는 계절 : <%=season%></td>
                
            </tr>
			</table>
		

</body>
</html>